@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Cousine);

#console{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 11pt;
    font-family: Inconsolata, monospace;
    color: white;
    background-color: black;
}

#console #header pre {
    font-size: 9pt;
    color: #757575;
    margin-left: -50px;
}

#console #container {
    padding: .1em 1.5em 1em 1em;
    margin-top: 20px;
}

    #console #container pre {
        height: auto;
        margin-bottom: -40px;
        color: #757575;
    }

        #console #container pre .header {
            color: #96b38a;
        }

        #console #container pre .command {
            color: yellow;
        }

    #console #container p {
        margin: 0;
    }

    #console #container .prgs {
        margin-top: 0;
    }

        #console #container .prgs .main {
            display: block !important;
            margin-top: -40px;
        }

        #console #container .prgs .subtext {
            display: block !important;
        }

    #console #container output {
        clear: both;
        width: 100%;
    }

        #console #container output h3 {
            margin: 0;
        }

        #console #container output pre {
            margin: 0;
        }

#console .input-line {
    display: flex;
    align-items: center;
    width: 100%;
    clear: both;
}

#console .prompt {
    display: flex;
    align-items: center;
    width: 100%;
    color: #96b38a;
}

#console .prompt-label {
    white-space: nowrap;
    margin-right: 7px;
    user-select: none;
}

#console .input-wrapper {
    flex-grow: 1;
    display: flex;
}

#console .cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    padding: 0;
    border: 0 !important;
    color: white;
}

.valid {
    outline-color: black !important;
}
