@using Microsoft.AspNetCore.Components.Forms

@inherits Blazor.Console.BlazorConsoleComponent

<h5>Blazor.Console [Version 1.0.0]</h5>
<h6>@System.DateTime.Now.ToShortDateString()</h6>
<div id="container">
    <pre>
        <code>@((MarkupString)terminal)</code>
    </pre>

    <EditForm OnValidSubmit="Execute" autocomplete="off" Model="command">
        <div id="input-line" class="input-line">
            <div class="prompt">></div><div>
                <p>
                    <InputText id="commandline" autocomplete="off" Class="cmdline" autofocus="true" @bind-Value="@command.Text"/>
                </p>
            </div>
        </div>
    </EditForm>
</div>

