name: Build

on:
  push:
    paths:
    - 'src/**'
jobs:
  build:
  
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.100
    - name: Build with dotnet
      run: dotnet build src/Blazor.Console/Blazor.Console.csproj --configuration Release
  #  - name: Pack
  #    run: dotnet pack src/Blazor.Console/Blazor.Console.csproj -c Release -o out --no-build
  #  - name: Install NuGet client
  #    uses: warrenbuckley/Setup-Nuget@v1
  #  - name: Add private GitHub registry to NuGet
  #    run: nuget sources add -name "PCKGS" -Source https://nuget.pkg.github.com/ardacetinkaya/index.json -Username ardacetinkaya -Password ${{ secrets.GITHUB_TOKEN }}
  #  - name: Push generated package to GitHub registry
  #    run: nuget push .\out\*.nupkg -Source "PCKGS" -SkipDuplicate
      shell: bash
    - name: Publish nuget
      run: |
           for f in /src/Blazor.Console/bin/Release/netcoreapp3.0/*.nupkg
           do
             curl -vX PUT -u "ardacetinkaya:${{ secrets.BCSecret }}" -F package=@$f https://nuget.pkg.github.com/ardacetinkaya/
           done
      shell: bash
